<h1>Agregar Jugadores al Partido</h1>

<%= form_with(model: @participation, url: match_participations_path(@match), local: true) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> impidi칩 agregar la participaci칩n:</h2>
      <ul>
        <% @participation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :match_id, "Partido" %>
    <p><%= @match.location %> - <%= date_in_spanish(@match.date) %></p>
    <%= f.hidden_field :match_id, value: @match.id %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :player_id, "Jugador" %>
      <%= f.collection_select :player_id, @available_players, :id, :name, { prompt: "Selecciona un jugador" }, { class: "form-control" } %>
      <div id="emailHelp" class="form-text">Si el jugador no se encuentra en la lista debe ser porque ya est치 inscripto en el partido.</div>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :team_id, "Equipo" %>
      <%= f.collection_select :team_id, Team.all, :id, :name, { prompt: "Selecciona un equipo" }, { class: "form-control" } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Agregar Participaci칩n", class: "btn btn-primary" %>
  </div>
<% end %>
