<h2 class="text-center my-4">Historial de Partidos</h2>
<div class="table-responsive p-0">
  <table class="table table-hover align-middle text-center mb-0">
    <thead class="table-dark">
    <tr>
      <th>Fecha</th>
      <th>Video</th>
      <th>Resultado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody class="table-dark">
    <% @past_matches.each do |match| %>
      <tr>
        <td><%= date_in_spanish(match.date) %></td>
        <td>
          <% if match.video_url.present? && (match.video_url.include?("youtube.com") || match.video_url.include?("youtu.be")) %>
            <% video_id = if match.video_url.include?("youtu.be")
                            match.video_url.split('/').last
                          else
                            CGI.parse(URI.parse(match.video_url).query || "")["v"]&.first
                          end %>

            <% if video_id.present? %>
              <iframe width="200" height="113" src="https://www.youtube.com/embed/<%= video_id %>?rel=0&controls=1" frameborder="0" allowfullscreen class="rounded shadow-sm"></iframe>
            <% else %>
              <%= link_to match.video_url, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none" do %>
                <i class="fas fa-video text-danger"></i>
              <% end %>
            <% end %>
          <% else %>
            <small class="text-muted">No hay video adjunto</small>
          <% end %>
        </td>

        <td><%= render "result", match: match %></td>
        <td>
          <% if user_signed_in? %>
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to match_path(match), class: 'btn btn-outline-primary' do %>
                👀 Ver
              <% end %>
              <%= link_to edit_match_path(match), class: 'btn btn-outline-warning' do %>
                ✏️ Editar
              <% end %>
            </div>
          <% else %>
            <%= link_to '👀 Ver', match_path(match), class: 'btn btn-primary btn-sm' %>
          <% end %>
        </td>

      </tr>

      <%= render "modals/add_result", match: match %>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center my-4">
    <%= paginate @past_matches %>
  </div>
</div>
