<h2 class="text-center mb-4">Iniciar sesi칩n</h2>

<%= form_for(resource_name, url: session_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
  <% if @user && @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mb-3">
      <%= f.label :email, "Correo Electr칩nico", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      <% if @user&.errors[:email].any? %>
        <div class="invalid-feedback">
          <%= @user.errors[:email].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6 col-lg-4 mb-3">
      <%= f.label :password, "Contrase침a", class: "form-label" %>
      <%= f.password_field :password, class: 'form-control' %>
      <% if @user&.errors[:password].any? %>
        <div class="invalid-feedback">
          <%= @user.errors[:password].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6 col-lg-4 d-grid gap-2">
      <%= f.submit 'Iniciar sesi칩n', class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
