<h1 class="text-center mb-4"><%= @player.full_name %></h1>

<% if user_signed_in? %>
  <div class="text-center mb-4">
    <%= link_to 'Editar Jugador', edit_player_path(@player), class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<hr>

<!-- Información de contacto -->
<div class="card shadow-sm mb-4">
  <div class="card-body">
    <h5 class="card-title">Información de Contacto</h5>
    <% if @player.contact_info.present? %>
      <%= link_to 'WhatsApp', "https://wa.me/#{@player.contact_info.gsub(/\D/, '')}", target: "_blank", class: "btn btn-success" %>
    <% else %>
      <span>No disponible</span>
    <% end %>
  </div>
</div>

<!-- Estadísticas del Jugador -->
<div class="card shadow-sm mb-4">
  <div class="card-body">
    <h5 class="card-title">Estadísticas del Jugador</h5>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead class="table-dark">
        <tr>
          <th><i class="fas fa-signal"></i> Partidos Jugados</th>
          <th><i class="fas fa-trophy"></i> Victorias</th>
          <th><i class="fas fa-frown"></i> Derrotas</th>
          <th><i class="fas fa-meh"></i> Empates</th>
          <th><i class="fas fa-star"></i> Veces MVP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @player.participations.joins(:match).where('matches.date < ?', Date.today).count %></td>
          <td><%= @results_count[:victories] %></td>
          <td><%= @results_count[:defeats] %></td>
          <td><%= @results_count[:draws] %></td>
          <td><%= @player.mvp_matches.count %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if @player.participations.any? %>
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h5 class="card-title">Historial de Participaciones</h5>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-dark">
          <tr>
            <th>Partido</th>
            <th>Equipo</th>
            <th>Resultado</th>
          </tr>
          </thead>
          <tbody>
          <% @player.participations.joins(:match).where('matches.date < ?', Date.today).each do |participation| %>
            <tr class="align-middle">
              <td><%= link_to "Partido #{participation.match.date}", match_path(participation.match) %></td>
              <td><%= participation.team.name %></td>
              <td class="text-center"><%= render "matches/result", match: participation.match %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning" role="alert">
    Este jugador aún no ha participado en ningún partido.
  </div>
<% end %>
