<h1><%= @player.full_name %></h1>
<% if user_signed_in? %>
  <%= link_to 'Editar Jugador', edit_player_path(@player), class: 'btn btn-primary' %>
<% end %>

<hr>

<p><strong>Información de contacto:</strong> <%= @player.contact_info %></p>

<div class="table-responsive">
  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th><i class="fas fa-signal"></i> Partidos Jugados</th>
      <th><i class="fas fa-futbol"></i> Total de Goles</th>
      <th><i class="fas fa-shoe-prints"></i> Total de Asistencias</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @player.participations.count %></td>
      <td><%= @player.participations.sum(:goals) %></td>
      <td><%= @player.participations.sum(:assists) %></td>
    </tr>
    </tbody>
  </table>
</div>

<hr>

<h2>Historial de Participaciones</h2>

<% if @player.participations.any? %>
  <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
      <th>Partido</th>
      <th>Ubicación</th>
      <th><i class="fas fa-futbol"></i></th>
      <th><i class="fas fa-shoe-prints"></i></th>
      <th><i class="fas fa-star"></i></th>
    </tr>
    </thead>
    <tbody>
    <% @player.participations.includes(:match).each do |participation| %>
      <tr>
        <td><%= link_to "Partido #{participation.match.date}", match_path(participation.match) %></td>
        <td><%= participation.match.location %></td>
        <td><%= participation.goals %></td>
        <td><%= participation.assists %></td>
        <td><%= participation.rating %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <p>Este jugador aún no ha participado en ningún partido.</p>
<% end %>
