<div class="row text-center mb-5">
<%= render "matches/dashboard/stats" %>

<%= render "matches/dashboard/player_of_the_moth" %>

<% if user_signed_in? %>
  <div class="d-flex justify-content-center mb-4">
    <%= link_to '➕ Nuevo Partido', new_match_path, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<%= render "matches/dashboard/next_match", next_match: @next_match %>
  <%= render "matches/dashboard/match_history", past_matches: @past_matches %>
</div>
