<h1 class="text-center mb-4">⚽ Partidos ⚽</h1>

<% if user_signed_in? %>
  <%= link_to 'Nuevo Partido', new_match_path, class: "btn btn-primary mb-3" %>
<% end %>

<% if @next_match %>
  <h2 class="text-center my-4">Próximo Partido</h2>
  <div class="table-responsive shadow-lg rounded bg-light mb-4">
    <table class="table table-hover align-middle">
      <thead class="table-dark text-center">
      <tr>
        <th>Fecha</th>
        <th>Ubicación</th>
        <th>Resultado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center"><%= date_in_spanish(@next_match.date) %></td>
        <td><%= @next_match.location %></td>
        <td class="text-center">
          <% next_match_result = @match_results.find { |mr| mr[:match] == @next_match } %>
          <% if next_match_result[:result_message].present? %>
            <%= next_match_result[:result_message] %>
          <% else %>
            <% if user_signed_in? %>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addResultModal-<%= @next_match.id %>">
                <i class="fas fa-pen"></i> Agregar resultado
              </button>
            <% else %>
              <span class="badge bg-warning text-dark p-2">Resultado no subido</span>
            <% end %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to '👀 Ver', match_path(@next_match), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Editar', edit_match_path(@next_match), class: 'btn btn-warning btn-sm' %>
          <% if user_signed_in? && @next_match.date >= Date.today %>
            <%= button_to 'Eliminar', match_path(@next_match), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info text-center mb-4">No hay partidos programados próximamente.</div>
<% end %>

<h2 class="text-center my-4">Historial de Partidos</h2>
<div class="table-responsive shadow-lg rounded bg-light">
  <table class="table table-hover align-middle">
    <thead class="table-dark text-center">
    <tr>
      <th>Fecha</th>
      <th>Ubicación</th>
      <th>Resultado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @match_results.each do |result| %>
      <% next if result[:match] == @next_match %> <!-- Ignora el próximo partido en el historial -->
      <tr>
        <td class="text-center"><%= date_in_spanish(result[:match].date) %></td>
        <td><%= result[:match].location %></td>
        <td class="text-center">
          <% if result[:result_message].present? %>
            <%= result[:result_message] %>
          <% else %>
            <% if user_signed_in? %>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addResultModal-<%= result[:match].id %>">
                <i class="fas fa-pen"></i> Agregar resultado
              </button>
            <% else %>
              <span class="badge bg-warning text-dark p-2">Resultado no subido</span>
            <% end %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to '👀 Ver', match_path(result[:match]), class: 'btn btn-primary btn-sm' %>
          <% if user_signed_in? %>
            <%= link_to 'Editar', edit_match_path(result[:match]), class: 'btn btn-warning btn-sm' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
