<h1 class="text-center mb-4">⚽ Partidos ⚽</h1>

<% if user_signed_in? %>
  <%= link_to 'Nuevo Partido', new_match_path, class: "btn btn-primary mb-3" %>
<% end %>

<% if @next_match %>
  <h2 class="text-center my-4">Próximo Partido</h2>
  <div class="table-responsive shadow-lg rounded bg-light mb-4">
    <table class="table table-hover align-middle">
      <thead class="table-dark text-center">
      <tr>
        <th>Fecha</th>
        <th>Ubicación</th>
        <th>Resultado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center"><%= date_in_spanish(@next_match.date) %></td>
        <td><%= @next_match.location %></td>
        <td class="text-center"><%= render "result", match: @next_match %></td>
        <td class="text-center">
          <%= link_to '👀 Ver', match_path(@next_match), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Editar', edit_match_path(@next_match), class: 'btn btn-warning btn-sm' %>
          <% if user_signed_in? && @next_match.date >= Date.today %>
            <%= button_to 'Eliminar', match_path(@next_match), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info text-center mb-4">No hay partidos programados próximamente.</div>
<% end %>

<h2 class="text-center my-4">Historial de Partidos</h2>
<div class="table-responsive shadow-lg rounded bg-light">
  <table class="table table-hover align-middle">
    <thead class="table-dark text-center">
    <tr>
      <th>Fecha</th>
      <th>Video</th>
      <th>Resultado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% @past_matches.each do |match| %>
      <tr>
        <td class="text-center"><%= date_in_spanish(match.date) %></td>
        <td class="text-center">
          <% if match.video_url %>
            <%= link_to match.video_url, target: "_blank", rel: "noopener noreferrer", class: "text-decoration-none" do %>
              <i class="fas fa-video text-danger"></i>
            <% end %>
          <% else %>
            No hay video adjunto
          <% end %>
        </td>
        <td class="text-center"><%= render "result", match: match %></td>
        <td class="text-center">
          <%= link_to '👀 Ver', match_path(match), class: 'btn btn-primary btn-sm' %>
          <% if user_signed_in? %>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addResultModal-<%= match.id %>">
              <i class="fas fa-pen"></i> Agregar resultado
            </button>
            <%= link_to 'Editar', edit_match_path(match), class: 'btn btn-warning btn-sm' %>
          <% end %>
        </td>
      </tr>

      <%= render "modals/add_result", match: match %>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center my-4">
    <%= paginate @past_matches %>
  </div>
</div>
