<h1 class="text-center mb-4">Detalles del Partido</h1>

<div class="table-responsive shadow-lg rounded bg-light">
  <table class="table table-bordered align-middle">
    <thead class="table-dark text-center">
    <tr>
      <th>Fecha</th>
      <th>Ubicación</th>
      <th>Resultado</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      <td><%= @match.date %></td>
      <td><%= @match.location %></td>
      <td><span class="badge bg-warning text-dark p-2"><%= @result_message %></span></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal para agregar resultado -->
<div class="modal fade" id="addResultModal-<%= @match.id %>" tabindex="-1" aria-labelledby="addResultModalLabel-<%= @match.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addResultModalLabel-<%= @match.id %>">Agregar Resultado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @match, url: match_path(@match), method: :patch, local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :result, "Resultado" %>
            <%= f.text_field :result, class: "form-control", placeholder: "Ejemplo: 3-1" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <%= f.submit "Guardar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Añadir Participación', new_match_participation_path(@match), class: 'btn btn-primary mb-3' %>
<% end %>

<div class="row mt-4">
  <% @teams.each do |team| %>
    <div class="col-lg-6 col-12 mb-4">
      <div class="shadow-lg p-4 rounded bg-white">
        <h3 class="text-center mb-0">Equipo <%= team.name %> </h3>
        <% if @participations.where(team: team).count == 1 %>
          <p class="text-center fw-light"><%= @participations.where(team: team).count%> jugador inscripto</p>
        <% else %>
        <p class="text-center fw-light"><%= @participations.where(team: team).count%> jugadores inscriptos</p>
        <% end %>
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead class="table-dark text-center">
            <tr>
              <th><i class="fas fa-user"></i> Jugador</th>
              <th><i class="fas fa-futbol"></i> Goles</th>
              <th><i class="fas fa-shoe-prints"></i> Asistencias</th>
              <th><i class="fas fa-star"></i> Calificación</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @participations.where(team: team).each do |participation| %>
              <tr>
                <td><%= link_to player_path(participation.player) do %><%= participation.player.full_name %><% end %></td>
                <td><%= participation.goals %></td>
                <td><%= participation.assists %></td>
                <td><%= participation.rating %></td>
                  <td>
                    <% if @match.date > 3.days.ago || user_signed_in? %>
                      <%= link_to 'Editar', edit_match_participation_path(@match, participation), class: 'btn btn-warning btn-sm' %>
                    <% else %>
                      <button class="btn btn-warning btn-sm" disabled>Editar</button>
                    <% end %>
                    <% if user_signed_in? %>
                      <%= button_to 'Eliminar', match_participation_path(@match, participation), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                  </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
