<h1>Detalles del Partido</h1>
<p><strong>Fecha:</strong> <%= @match.date %></p>
<p><strong>Ubicación:</strong> <%= @match.location %></p>
<p><strong>Resultado:</strong>
  <% if @match.result.present? %>
    <td><%= @match.result %></td>
  <% else %>
    <td>
      <% if user_signed_in? %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addResultModal-<%= @match.id %>">
          Agregar resultado
        </button>
      <% else %>
        Resultaldo no subido
      <% end %>
    </td>
  <% end %>
</p>

<div class="modal fade" id="addResultModal-<%= @match.id %>" tabindex="-1" aria-labelledby="addResultModalLabel-<%= @match.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addResultModalLabel-<%= @match.id %>">Agregar Resultado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @match, url: match_path(@match), method: :patch, local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :result, "Resultado" %>
            <%= f.text_field :result, class: "form-control", placeholder: "Ejemplo: 3-1" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <%= f.submit "Guardar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Participaciones</h2>
<%= link_to 'Añadir Participación', new_match_participation_path(@match) %>
<table class="table">
  <thead>
  <tr>
    <th>Imagen</th>
    <th>Jugador</th>
    <th>Goles</th>
    <th>Asistencias</th>
    <th>Calificación</th>
    <th>Equipo</th>
    <% if user_signed_in? %>
      <th>Acciones</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @participations.each do |participation| %>
    <tr>
      <td>
        <%= image_tag('default-profile.png', alt: 'Imagen de perfil', class: 'img-fluid', width: 50, height: 50) %>
      </td>
      <td><%= participation.player.full_name %></td>
      <td><%= participation.goals %></td>
      <td><%= participation.assists %></td>
      <td><%= participation.rating %></td>
      <td><%= participation.team.name %></td>
      <td>
        <% if user_signed_in? %>
          <%= link_to 'Editar', edit_match_participation_path(@match, participation), class: 'btn btn-warning' %>
          <%= button_to 'Eliminar', match_participation_path(@match, participation), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
